[package]
name = "soyuz-app"
version.workspace = true
edition.workspace = true

[dependencies]
log = { workspace = true }
env_logger = { workspace = true }
winit = { workspace = true }
pollster = { workspace = true }
wgpu = { workspace = true }
soyuz-gfx = { path = "../soyuz-gfx" }
